/* src/app/dashboard/dashboard.component.css */
.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px; /* Adjust as necessary */
    background-color: #12a2e5ee; /* Adjust as necessary */
    padding: 20px;
  }
  
  .sidebar ul {
    padding: 0;
    color: black;
    list-style-type: none; 
  }
  .sidebar ul ul {
    padding: 0;
    color: black;
    list-style-type: disc; 
    font-weight: lighter;
    padding-left: 20px;
  }
  
  .sidebar ul li a {
    color: black;
    text-decoration: none;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color:rgba(255, 255, 0, 0.188); /* Adjust as necessary */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif; /* Matching the font */
  }
  
  .table th, .table td {
    border: 2px solid white;
    padding: 8px;
    background-color: #f2f2f2;
  }
  
  .table th {
    background-color: #f2f2f2; /* Light gray background for headers */
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping for rows */
  }
  
  .table tr:hover {
    background-color: #e8f4f8; /* Light blue background on row hover */
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333; /* Adjust as necessary */
    color: white;
  }
  
  .project-info h1 {
    margin: 0;
    /* Additional styling */
  }
  
  .project-info p {
    margin: 0;
    font-size: 0.9em;
    /* Additional styling */
  }
  
  .user-controls {
    /* Aligns the admin and logout buttons to the right */
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .admin-button, .logout-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff; /* Blue background */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .admin-button:hover, .logout-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  